<launch>
    <!-- Front Camera -->
    <!-- launch front camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="serial_no"         value="337122072996"/>
        <arg name="camera"            value="front_camera"/>
        <arg name="enable_pointcloud" value="true"/>
        <arg name="align_depth"       value="true"/>
        <arg name="tf_prefix"         value="front_camera"/>
    </include>

    <!-- transform from base to front_camera -->
    <!-- <rosparam file="$(find elevation_mapping)/config/sensor_processors/input_sources/TF_base2cam_front.yaml" command="load" ns="front_camera"/> -->

    <node pkg="tf2_ros"
          type="static_transform_publisher"
          name="front_tf"
          args="0.13016114280668226
                0.02916750693624475
                -0.04555173203281425
                -0.004524101120165197
                0.5662313060164184
                -0.0032108855941659956
                0.8242277178120722
                base front_camera_link" />

    <!-- Rear Camera -->
    <!-- launch rear camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="serial_no"         value="313522071839"/>
        <arg name="camera"            value="rear_camera"/>
        <arg name="enable_pointcloud" value="true"/>
        <arg name="align_depth"       value="true"/>
        <arg name="tf_prefix"         value="rear_camera"/>
    </include>

    <!-- transform from base to rear_camera -->
    <!-- <rosparam file="$(find elevation_mapping)/config/sensor_processors/input_sources/TF_base2cam_rear.yaml" command="load" ns="rear_camera"/> -->

    <node pkg="tf2_ros"
          type="static_transform_publisher"
          name="rear_tf"
          args="-0.21396837017437653
                -0.022107462377263444
                -0.04120352245492674
                -0.5881314435997994
                0.006226803018929936
                0.8085936756439807
                0.015456379975153835
                base rear_camera_link" />

    <node pkg="tf2_ros"
          type="static_transform_publisher"
          name="map_tf"
          args="0
                0
                0
                0
                0
                0
                1
                base map" />

</launch>